body {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid red;
}

.rta {
  margin-bottom: 60px !important;
}

/* proof for https://github.com/webscopeio/react-textarea-autocomplete/issues/70 */
.rta__autocomplete {
  height: 100px;
  overflow: scroll;
}
